# ENTORNO DE DONDE ESTAMOS dev = develop
NODE_ENV=dev 

#ESTO ES PARA EL FRONTEND Y BACKEND DE ASTRO
DOMAIN_ASTRO=http://localhost:4321/
#ESTO ES MI URL DE MI BACKEND .NET
BACKEND_URL=http://localhost:5118/api